* {
  box-sizing: border-box;
  list-style: none;
}


#head-section {
  display: flex;
  /* background-color: aqua; */
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 195px;
  height: 80px;
  background-image:url(../../../assets/img/Untitledesda.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
#home-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;

}
#home-tags {
  display: flex;
  gap: 20px;
}
#home-tags > li {
  display: flex;
  align-items: center;
  gap: 20px;

}

#home-tags > li > a {
  color: rgb(213, 213, 213);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  padding: 10px;
  height: fit-content;
  width: 135px;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.836);
  transition-property: all;
  transition-duration: 350ms;
  position: relative;
  text-decoration: none;

}

#home-nav > a {
  text-decoration: none;
  color: black;
  background-color: #EF733D;
  border: solid 4px #EF733D;
  border-radius: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  padding: 5px;
  font-weight: bold;
  transition-property: all;
  transition-duration: 350ms;

}
#home-nav > a:hover{
  background-color: transparent;
  color: black;
  cursor: pointer;


}

#home-tags > li > a:hover {
  background-color:rgb(247, 227, 149);
  box-shadow:  1px 1px 3px rgb(74, 65, 29);
  color: black;
  cursor: pointer;

}
.tags:hover .menu-container{
  display: inline-block;
}
#home-tags > li > a.drop-down:hover::after{
  content: "";
  position: absolute;
  /* top: 50%; */
  transform: translateY(-70%);
  margin-left: 2px;
  border-top:5px solid  transparent;
  border-right:5px solid transparent ;
  border-bottom:5px solid black ;
  border-left:5px solid transparent ;
}
.drop-down::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  margin-left: 2px;
  border-top:5px solid rgb(213, 213, 213) ;
  border-right:5px solid transparent ;
  border-bottom:5px solid transparent ;
  border-left:5px solid transparent ;
}
.drop-down{
  position:relative;
}
.menu-container {

  background-color: transparent;
  width: 180px;
  height: fit-content;
  position: absolute;
  top: 60px;
  display: none;

}
.invisible-line{
  height: 20px;
}
.menu > ul > li:first-child::before{
  content: "";
  position: absolute;
  top: -1%;
  left: 10%;
  transform: translateY(-20%);
  margin-left: 2px;
  border-top:15px solid transparent;
  border-right:15px solid transparent ;
  border-bottom:15px solid #6D6E70 ;
  border-left:15px solid transparent ;
  transition-property: all;
  transition-duration: 150ms;
}
.menu {
  background-color: #6D6E70;
  border-radius: 10px;
  color: white;
  font-weight: bold;

}
.menu > ul > li{
  padding: 15px 10px;
  border-bottom: 1px solid gray;
  transition-property: all;
  transition-duration: 150ms;
  list-style: none;

}
.menu > ul > li:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;



}
.menu > ul > li:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


}
.menu > ul > li:hover{
  background-color: rgba(247, 227, 149, 0.901);
  color: #6D6E70;
  cursor: pointer;

}
.menu > ul > li:hover::before{
  border-bottom-color: rgba(247, 227, 149, 0.901);
  color: #6D6E70;

}

#contact-section {
  position: fixed;
  left: 100%;
  top: 50%;
  transform: translateX(-150%) translateY(-50%);
}

#contact-section > div {
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  background-color: #dbd2b5bd;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

}
#contact-section > div > a {
  height: 57px;
  width: 50px;
  background-image: url(../../../assets/img/50x50-social-media.svg);
  padding: 15px 5px;
  border-bottom: 3px solid rgba(142, 152, 159, 0.692);
  transition-property: scale;
  transition-duration: 250ms;
  border-radius: 10px;

}
#contact-section > div > a:hover{
  transform:scale(1.1);
  background-color: #dbd2b5ee;

}
#whatsapp{
  background-position: 0px -3px;

}
#facebook{
  background-position: 0px -82px;

}
#twitter{
  background-position: 0px -323px;

}
#instagram{
  background-position: 0px -244px;

}
#linkedin{
  background-position: 0px -163px;

}
#contact-section > div > a:last-child{
  border-bottom: none;

}
