<div id="home-background">
  <div>
    <div id="background-transition">
      <div id="background-inner">
        <img class="transition" ngSrc="assets/img/background-1.webp" alt="background-1" height="800" width="1200">
        <img class="transition" ngSrc="assets/img/background-3.jpeg" alt="background-2" height="665" width="1000">
        <img class="transition" ngSrc="assets/img/background-5.jpg" alt="background-3" height="410" width="728">
      </div>



    </div>
    <div id="background-img">
                <span id="col-1" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-2" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-3" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-4" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-5" class="col">
                    <ul>
                        <li class="no-img"></li>
                        <li class="img"></li>
                        <li class="img"></li>
                    </ul>
                </span>
      <span id="col-6" class="col">
                    <ul>
                        <li class="no-img"></li>
                        <li class="img"></li>
                    </ul>
                </span>
    </div>
  </div>

</div>
<div id="main-container">
  <header>
    <section id="head-section">
      <div id="logo" routerLink=""></div>
      <div id="home-nav">
        <ul id="home-tags">
          <li class="tags" routerLink="">
            <a>Home</a>
          </li>
          <li class="tags" (click)=about()>
            <a>About Us</a>
          </li>
          <li class="tags" (click)=whySolar()>
            <a>Why Solar</a>
          </li>
          <li class="tags" >
            <a class="drop-down">Our Services</a>
            <div class="menu-container">
              <div class="invisible-line"></div>
              <div class="menu">
                <ul (click)=ourServices()>
                  <li>Free Inspection</li>
                  <li>Energy Auditing</li>
                  <li>Troubleshooting</li>
                  <li>Consulting</li>
                  <li>Cleaning</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tags" >
            <a class="drop-down">Gallery</a>
            <div class="menu-container">
              <div class="invisible-line"></div>
              <div class="menu">
                <ul (click)=gallery()>
                  <li>Off-Grid PV Systems</li>
                  <li>On-Grid PV Systems</li>
                  <li>Power Backup Systems</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tags" (click)=contact()>
            <a>Contact</a>
          </li>
        </ul>
        <a href="#" class="quote">GET A QUOTE</a>
      </div>
    </section>
    <section id="contact-section">
      <div>
        <a href="#" id="whatsapp"></a>
        <a href="#" id="facebook"></a>
        <a href="#" id="twitter"></a>
        <a href="#" id="instagram"></a>
        <a href="#" id="linkedin"></a>
      </div>
    </section>
  </header>
  <main>

  </main>
  <footer></footer>
</div>
<div id="dateTime">
  <div id="date">
    {{currentDate}}
  </div>
  {{currentTime}}
</div>
<div id="quote">
  <div id="quote1">
    Your renewable
  </div>
  <div id="quote2">
    Energy partner
  </div>
</div>

